body, html {
    height: 100%;
    background-color: #202030;
    color: #eee;
    font-family: 'Helvetica', sans-serif;
}

form {
    margin: auto;
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label, input {
    width: 100%;
}

input, button {
    margin: 5px 0px 20px 0px;
    padding: 6px 12px;

    border: 1px solid #101018;
    border-radius: 8px;
    background-color: #181828;
    color: white;
}

label {
    margin-left: -20px;
    font-size: 14px
}

#signup-suggestion {
    color: #eee8;
}

#signup-suggestion a {
    text-decoration: none;
    color: #eee;
}

button {
    width: fit-content;
}

.alert {
    position: absolute;
    width: 15%;

    margin-inline: auto;
    left: 0;
    right: 0;

    padding: 8px 16px;
    background: #f0606040;
    border: 1px solid #ff8080;
    border-radius: 8px;
}