<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
  <p id="submit-status">Invalid username or password.</p>
  <form>
    <h1>Create a new account</h1>
    <label for="signup-username">Username:</label>
    <input type="text" name="username" id="signup-username" placeholder="Username" required>
    <label for="signup-password">Password: </label>
    <input type="password" name="password" id="signup-password" placeholder="Password" required>
    <label for="signup-confirm-password">Confirm Password: </label>
    <input type="password" name="confirm-password" id="signup-confirm-password" placeholder="Confirm Password" required>
    <button type="button" onclick="signUp()" id="signup-button">Sign Up</button>
  </form>

  <script th:src="@{/js/signup.js}"></script>
</body>
</html>